<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="sidebar_user">
  <div py:if="tg.predicates.not_anonymous()" id="sb_user" class="sidebar">
      <div class="title">${_('user')}</div>
      <ul class="links">
        <!--
        <li py:choose="">
        <span py:when="defined('page') and page=='index'">
            <a href="${tg.url('/about')}">About this page</a> 
            A quick guide to this TG2 site 
        </span>
        <span py:otherwise=""><a href="${tg.url('/')}">Home</a> Back to your Quickstart Home page </span>
        </li>
        -->           
        <li class="home"><a href="${tg.url('/user/home')}">${_('home')}</a></li>
      </ul>
  </div>
</py:def>    

<py:def function="sidebar_admin">
<div py:if="tg.predicates.in_group('administrators')" id="sb_admin" class="sidebar">
    <div class="toggle">
        <div class="toggle_header title">
            <span class="toggle_arrow"/>
            <span class="toggle_title">${_('admin')}</span>
        </div>
        <div class="toggleable">
            <ul class="links">
                <li><a href="${tg.url('/admin/users')}">${_('users')}</a></li>
                <li><a href="${tg.url('/admin/groups')}">${_('groups')}</a></li>
                <li><a href="${tg.url('/admin/permissions')}">${_('permissions')}</a></li>
                <li><a href="${tg.url('/admin/projects')}">${_('projects')}</a></li>
            </ul>
        </div>
    </div>
</div>
</py:def>    

<py:def function="sidebar_projects">
<div id="sb_projects" class="sidebar">
    <div class="title">${_('projects')}</div>
    <ul class="links">
        <li py:for="p in c.user.projects">
            <div class="hidden nick" py:content="p.nick">hidden nick</div>
            <a class="project link" py:content="p.name">project name</a>
        </li>
    </ul>
</div>
</py:def>    

</html>
