<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:content="'SPAM - %s home' % (c.user and c.user.user_name)">SPAM - user home</title>
    <script type="text/javascript">
    $(function() {
        spam.setActiveSidebar("admin", "projects");
        $(".overlay").overlay(function() { 
            trigger = this.getTrigger();
            target = trigger.attr("href");
            iframe = $("#overlay iframe")[0];
            iframe.src = target
        });
    });
    </script>
</head>

<body>
    <div>
        <a href="${tg.url('/form/new_project')}" rel="#overlay" class="overlay">new project</a>
    </div>
</body>
</html>

