<html xmlns:py="http://genshi.edgewall.org/" py:strip="">
<script type="text/javascript" py:strip="">
//<![CDATA[

spam = new(Object);

/**********************************************************************
 * Toggles
 **********************************************************************/
spam.activate_toggles = function () {
    $('.toggle_arrow').click(function(event){
        toggle = $(this).parents(".toggle:first");
        if (toggle.hasClass('expanded')) {
            $('> .toggleable', toggle).hide('fast');
        } else {
            $('> .toggleable', toggle).show('fast');
        }
        toggle.toggleClass('expanded');
        return false;
    });

}


/****************************************
 * Sidebar
 ****************************************/
spam.setActiveSidebar = function(sidebar, item) {
    sbid = "#sb_"+sidebar;
    itemclass = "."+item;
    
    $(sbid).addClass("active");
    $(itemclass, $(sbid)).addClass("active");
}


/****************************************
 * Startup function
 ****************************************/
$(function() {
    spam.activate_toggles();
    
    /* make #flash slide in and out */
    $("#flash div").hide().slideDown(function() {
        setTimeout(function() {
            $("#flash div").slideUp();
        }, 4000);
    });

});

//]]>
</script>
</html>
