/*
common colors from the tango palette:
#fce94f; / * Butter 1 * /
#edd400; / * Butter 2 * /
#73d216; / * Chameleon 2 * /
#4e9a06; / * Chameleon 3 * /
#f6f6f4; / * Aluminium 0 * /
#eeeeec; / * Aluminium 1 * /
#babdb6; / * Aluminium 3 * /
#729fcf; / * Sky Blue 1 * /
#3465a4; / * Sky Blue 2 * /
#204a87; / * Sky Blue 3 * /
#ef2929; / * Scarlet Red 1 * /

*/

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
    font-size: small;
    color: #204a87; /* Sky Blue 3 */
}

ul {
    list-style: none;
}

h1 {
    font-size: large;
    border-bottom: 1px solid #204a87; /* Sky Blue 3 */
}

/* result */
.result {
    float: left;
    width: 50px;
    height: 50px;
}

.success {
    background: url(../images/ok.png) left center no-repeat;
}

.failed {
    background: url(../images/error.png) left center no-repeat;
}

/* messages */
.msg {
    padding-bottom: 15px;
    font-size: large;
}

.warning {
    padding-bottom: 15px;
    font-size: large;
    color: #ef2929; /* Scarlet Red 1 */
}

/* fields */
label.required {
    font-weight: bold;
}

.fielderror {
    color: red;
}

.disabled {
    color: gray;
}

/* Progressbar */
#upload_queue {
    margin: 5px 0;
}

.queue_item {
    clear: left;
}

.progress {
    float: left;
}

.ui-progressbar {
    float: left;
    height:1em;
    width: 50px;
    text-align: left;
    border: 1px solid black;
    -moz-border-radius: 5px;
}

.ui-progressbar .ui-progressbar-value {
    /*margin: -1px;*/
    height:100%;
    background-color: #4e9a06; /* Chameleon 3 */
    -moz-border-radius: 4px;
}

.upload_progress.error .ui-progressbar-value {
    background-color: #ef2929; /* Scarlet Red 1 */
}

.queue_item .obj {
    margin-left: 55px;
}
