/*
common colors from the tango palette:
#fcaf3e; / * Orange 1 * /
#f57900; / * Orange 2 * /
#ce5c00; / * Orange 3 * /
#fce94f; / * Butter 1 * /
#edd400; / * Butter 2 * /
#8ae234; / * Chameleon 1 * /
#73d216; / * Chameleon 2 * /
#4e9a06; / * Chameleon 3 * /
#f6f6f4; / * Aluminium 0 * /
#eeeeec; / * Aluminium 1 * /
#babdb6; / * Aluminium 3 * /
#888a85; / * Aluminium 4 * /
#555753; / * Aluminium 5 * /
#2e3436; / * Aluminium 6 * /
#dfe6ed; / * Sky Blue 0 * /
#729fcf; / * Sky Blue 1 * /
#3465a4; / * Sky Blue 2 * /
#204a87; / * Sky Blue 3 * /
#ad7fa8; / * Plum 1 * /
#75507b; / * Plum 2 * /
#5c3566; / * Plum 3 * /
#ef2929; / * Scarlet Red 1 * /

*/

/**********************************************************************
 * Document
 **********************************************************************/

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
}

body {
	margin: 15px 20px;
	padding: 0;
	font-family:"Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
}

:focus {
  outline-style: none;
}

/**********************************************************************
 * Common
 **********************************************************************/

.hidden {display: none;}

/* Buttons */
.button {
    padding: 0 5px;
    background-color: #3465a4; /* Sky Blue 2 */
    color: #f6f6f4; /* Aluminium 0 */
	-moz-border-radius: 5px;
    -moz-box-shadow: 4px 4px 10px #888a85; /* Aluminium 4 */
}

.button:active {
    -moz-box-shadow: 1px 1px 10px #888a85; /* Aluminium 4 */
}

.iconbutton {
    display: block;
    float: left;
    padding: 1px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.iconbutton:active {
    -moz-box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
}

.iconbutton.edit {background: url(../images/icons/16x16/edit.png) left center no-repeat;}
.iconbutton.archive {background: url(../images/icons/16x16/undo.png) left center no-repeat;}
.iconbutton.activate {background: url(../images/icons/16x16/redo.png) left center no-repeat;}
.iconbutton.delete {background: url(../images/icons/16x16/trash.png) left center no-repeat;}
.iconbutton.schema_uptodate {
    background: url(../images/icons/16x16/green.png) left center no-repeat;
    cursor: default;
}
.iconbutton.schema_outdated {background: url(../images/icons/16x16/update-urgent.png) left center no-repeat;}

.thumbnail {
    width: 120px;
    height: 68px;
}

.thumbnail img {
    display: block;
    width: 120px;
    height: 68px;
}

/* Toggle */
.toggle > .toggle_header {
    /*display: inline-block;*/
}

.toggle > .toggle_header > .toggle_arrow {
    background: url(../images/collapsed.png) left center no-repeat;
    min-width: 15px;
    min-height: 20px;
    padding-left: 15px;
    cursor: pointer;
    display: inline;
}

.toggle.expanded > .toggle_header > .toggle_arrow {
    background: url(../images/expanded.png) left center no-repeat;
    min-width: 15px;
    min-height: 20px;
    padding-left: 15px;
}

.toggle > .toggle_header > .toggle_title {
    display: inline-block;
    padding-left: 0;
}

.toggle:not(.expanded) > .toggleable {
    display: none;
}

/* Zebra striping */
.odd {
    background-color: #f6f6f4; /* Aluminium 0 */
}

.even {
    background-color: #dfe6ed; /* Sky Blue 0 */
}

/* Udates */
.updated {
    background-color: #ad7fa8; /* Plum 1 */
}

/* Table */
table {
    /*border: 1px solid black;*/
    width: 100%;
}

table td {
    vertical-align: top;
}

table td.icon {
    width: 18px;
}

/**********************************************************************
 * Overlay
 **********************************************************************/
#overlay {
	padding: 30px;	
	display: none;
	z-index: 10;
}
 
/*  
    close button (div.close element) is auto-generated by default.  
    here it is positioned on top-right corner  
*/ 
#overlay div.close { 
    background:url(../images/close.png) no-repeat; 
    position:absolute; 
	top: 10px;
	right: 15px; 
	width: 35px;
	height: 35px;
	cursor: pointer;
} 

#overlay iframe {
    width: 600px;
	height: 450px;
    border: 2px solid #73d216; /* Chameleon 2 */
	-moz-border-radius: 10px;
    -moz-box-shadow: 0 0 25px 5px #333;
    background-color: #f6f6f4; /* Aluminium 0 */
}


/****************************************
 * Header
 ****************************************/
#header {
	height: 70px;
	padding: 5px 20px;
	background-color: #73d216; /* Chameleon 2 */
	-moz-border-radius: 10px;
	color: #f6f6f4; /* Aluminium 0 */
}

#header .logo {
    display: block;
    float: left;
    height: 70px;
    width: 100px;
    margin-right: 10px;
    /*border: 1px solid black;*/
    background-image: url(../images/logo.png);
}

#header .login, #header .logout {
    float: right;
}

#header .username {
    clear:right;
    float: right;
}

#header .title {
	height: 50px;
	font-size: 2.5em;
	overflow: hidden;
}

#header .path {
    height: 20px;
	overflow: hidden;
}


/****************************************
 * Flash
 ****************************************/
#flash, .notice {
    position: relative;
    /*font-size: 1.2em;*/
    color: #f6f6f4; /* Aluminium 0 */
}

#flash div, .notice {
    position: absolute;
    margin-left: 10px;
    padding:10px 60px 10px 45px;
    z-index: 4;
    opacity: .8;
}

#flash .ok {
    background: #729fcf url(../images/ok.png) no-repeat scroll 10px center; /* Sky Blue 1 */
	-moz-border-radius: 0 0 10px 10px;
}

#flash .warning {
    background: #edd400 url(../images/warning.png) no-repeat scroll 10px center; /* Butter 1 */
	-moz-border-radius: 0 0 10px 10px;
}

#flash .error {
    background:#ef2929 url(../images/error.png) no-repeat scroll 10px center; /* Scarlet Red 1 */
	-moz-border-radius: 0 0 10px 10px;
}

#flash .alert, #flash .info, .notice {
    background:#babdb6 url(../images/info.png) no-repeat scroll 10px center; /* Aluminium 3 */
	-moz-border-radius: 0 0 10px 10px;
}


/****************************************
 * Side
 ****************************************/
#side {
    float: left;
}

.side {
    margin-top: 15px;
    padding: 10px 0;
    width: 180px;
    background-color: #eeeeec; /* Aluminium 1 */
	-moz-border-radius: 10px;
	border: 2px solid #73d216; /* Chameleon 2 */
    font-size: 0.9em;
}    

.side .sidebar {
    margin: 2px 0;
    color: #4e9a06; /* Chameleon 3 */
}

.side .sidebar.active {
	background-color: #8ae234; /* Chameleon 1 */
	color: #eeeeec; /* Aluminium 1 */
}

.side .sidebar .title {
    padding-left: 5px;
    background-color: #3465a4; /* Sky Blue 2 */
    color: #eeeeec; /* Aluminium 1 */
    font-size: medium;
}

.side .sidebar.active .title {
    background-color: #4e9a06; /* Chameleon 3 */
    color: #eeeeec; /* Aluminium 1 */
}

.side ul {
    padding-left: 5px;
}

.side a:hover {
    color: #204a87; /* Sky Blue 3 */
}

.side li.active {
    color: #ef2929; /* Scarlet Red 1 */
}

#side_overflow_container {
    position: relative;
}

#side_overflow_activearea {
    position: absolute;
    padding-right: 0;
    z-index: 3;
}

.side.overflow {
    overflow: hidden;
    max-height: 350px;
    opacity: 0.9;
}

#side_overflow_activearea:hover {
    padding-right: 30px;
}

#side_overflow_activearea:hover .side.overflow {
    overflow: auto;
    width: auto;
    min-width: 180px;
}

#sb_project .title a:hover {
    color: inherit;
}

/**********************************************************************
 * TreeView
 **********************************************************************/
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	margin-top: 2px;
}

.treeview .hitarea {
	background: url(../images/treeview/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

.treeview li { 
	margin: 0;
	padding: 0px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

.treeview li { background: url(../images/treeview/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -177px; }

.treeview .expandable-hitarea { background-position: -80px -1px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }


/****************************************
 * Content
 ****************************************/
#content_wrapper {
    margin: 15px 0 15px 200px;
}

#tabbed_content_wrapper {
    margin-top: -2px;
}

.content {
    clear: right;
    min-height: 400px;
	padding: 15px 20px;
	border: 2px solid #73d216; /* Chameleon 2 */
	-moz-border-radius: 10px;
	background-color: #eeeeec; /* Aluminium 1 */
    color: #2e3436; /* Aluminium 6 */
}

#content h1 {
    margin: 20px 0 5px 0;
    font-weight: normal;
}

/**********************************************************************
 * Tabs
 **********************************************************************/

/* root element for tabs  */
ul.tabs {
    float: right;
	margin: 0 10px 0 0 !important; 
	padding: 0;
    position: relative;
    top: 2px;
}

/* single tab */
ul.tabs li {
    float: left;
}

/* link inside the tab */
ul.tabs a { 
	display: block;
	padding: 4px 15px;	
	border: 2px solid #73d216; /* Chameleon 2 */
	border-bottom: 0px;
	background-color: #babdb6; /* Aluminium 3 */
	margin-right: 2px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

ul.tabs a:hover {
	background-color: #f6f6f4; /* Aluminium 0 */
}
	
/* selected tab */
ul.tabs a.current {
	background-color: #eeeeec; /* Aluminium 1 */
	border-bottom: 2px solid #eeeeec; /* Aluminium 1 */
	cursor: default;
}

/* tab pane */
.pane {
	display: none;
	min-height: 150px;
}

.pane.ajax {
	display: block;
}

/****************************************
 * Footer
 ****************************************/
#footer {
	height: 40px;
	padding: 5px 20px;
	background-color: #73d216; /* Chameleon 2 */
	-moz-border-radius: 10px;
	color: #f6f6f4; /* Aluminium 0 */
}

#footer .flogo {
    display: block;
    float: left;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    /*border: 1px solid black;*/
    background-image: url(../images/under_the_hood_blue.png);
}

#footer .foottext {
    float: right;
    margin-top: 10px;
}


/****************************************
 * Login form
 ****************************************/
#loginform {
}

#loginform .loginfields input {
    display: block;
}

#loginform .loginfields label {
    clear: left;
    float: left;
    /*margin-top: 5px;*/
    /*margin-left: 10px;*/
    width: 100px;
    /*line-height: 31px;*/
    /*vertical-align: middle;*/
}

