/*
common colors from the tango palette:
#fde79f; / * Orange 0 * /
#fcaf3e; / * Orange 1 * /
#f57900; / * Orange 2 * /
#ce5c00; / * Orange 3 * /
#fafbb5; / * Butter 0 * /
#fce94f; / * Butter 1 * /
#edd400; / * Butter 2 * /
#d0f3af; / * Chameleon 0 * /
#8ae234; / * Chameleon 1 * /
#73d216; / * Chameleon 2 * /
#4e9a06; / * Chameleon 3 * /
#f6f6f4; / * Aluminium 0 * /
#eeeeec; / * Aluminium 1 * /
#d3d7cf; / * Aluminium 2 * /
#babdb6; / * Aluminium 3 * /
#888a85; / * Aluminium 4 * /
#555753; / * Aluminium 5 * /
#2e3436; / * Aluminium 6 * /
#dfe6ed; / * Sky Blue 0 * /
#729fcf; / * Sky Blue 1 * /
#3465a4; / * Sky Blue 2 * /
#204a87; / * Sky Blue 3 * /
#ad7fa8; / * Plum 1 * /
#75507b; / * Plum 2 * /
#5c3566; / * Plum 3 * /
#ef2929; / * Scarlet Red 1 * /

*/

/**********************************************************************
 * Document
 **********************************************************************/

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
}

body {
    margin: 15px 20px;
    padding: 0;
    font-family:"Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
}

:focus {
  outline-style: none;
}

/**********************************************************************
 * Common
 **********************************************************************/

.hidden {display: none;}

/* Buttons */
.button {
    padding: 2px 6px;
    background-color: #3465a4; /* Sky Blue 2 */
    color: #f6f6f4; /* Aluminium 0 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-box-shadow: 4px 4px 10px #888a85; /* Aluminium 4 */
    -webkit-box-shadow: 4px 4px 10px #f00; /* Aluminium 4 */
}

.button:active {
    -moz-box-shadow: 1px 1px 10px #888a85; /* Aluminium 4 */
}

/* icons */
.icon, .lw_icon {
    display: block;
    float: left;
    padding: 1px;
    height: 16px;
    width: 16px;
}

.lw_iconbutton, .lw_iconlink {
    cursor: pointer;
}

.lw_icon:active {
    -moz-box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
}

.icon_edit {background: url(../images/icons/16x16/edit.png) left center no-repeat;}
.icon_archive {background: url(../images/icons/16x16/undo.png) left center no-repeat;}
.icon_activate {background: url(../images/icons/16x16/redo.png) left center no-repeat;}
.icon_delete {background: url(../images/icons/16x16/delete.png) left center no-repeat;}
.icon_schema_uptodate {
    background: url(../images/icons/16x16/green.png) left center no-repeat;
    cursor: default;
}
.icon_schema_outdated {background: url(../images/icons/16x16/urgent.png) left center no-repeat;}
.icon_checkout {background: url(../images/icons/16x16/checkout.png) left center no-repeat;}
.icon_release {background: url(../images/icons/16x16/release.png) left center no-repeat;}
.icon_publish {background: url(../images/icons/16x16/publish.png) left center no-repeat;}
.icon_submit {background: url(../images/icons/16x16/redo.png) left center no-repeat;}
.icon_sendback {background: url(../images/icons/16x16/sendback.png) left center no-repeat;}
.icon_recall {background: url(../images/icons/16x16/undo.png) left center no-repeat;}
.icon_approve {background: url(../images/icons/16x16/approve.png) left center no-repeat;}
.icon_revoke {background: url(../images/icons/16x16/revoke.png) left center no-repeat;}
.icon_history {background: url(../images/icons/16x16/history.png) left center no-repeat;}
.icon_download {background: url(../images/icons/16x16/download.png) left center no-repeat;}
.icon_pin {background: url(../images/icons/16x16/pin.png) left center no-repeat;}
.icon_unpin {background: url(../images/icons/16x16/unpin.png) left center no-repeat;}

/* loading feedback */
.icon.icon_loading_white, .icon.icon_loading_black {
    float: right;
    background-image: none;
}

.loading .icon.icon_loading_white, .loading .ui-dialog-titlebar {
    background-image: url(../images/icons/16x16/animated-throbber-white.png);
}

.loading .icon.icon_loading_black {
    background-image: url(../images/icons/16x16/animated-throbber-black.png);
}

.thumbnail {
    width: 120px;
    height: 68px;
    border: 0;
}

.thumbnail img {
    display: block;
    width: 120px;
    height: 68px;
}

/* Toggle */
.toggle > .toggle_header {
    /*display: inline-block;*/
}

.toggle > .toggle_header > .toggle_arrow {
    background: url(../images/collapsed.png) left center no-repeat;
    min-width: 15px;
    min-height: 20px;
    padding-left: 15px;
    cursor: pointer;
    display: inline;
}

.toggle.expanded > .toggle_header > .toggle_arrow {
    background: url(../images/expanded.png) left center no-repeat;
    min-width: 15px;
    min-height: 20px;
    padding-left: 15px;
}

.toggle > .toggle_header > .toggle_title {
    display: inline-block;
    padding-left: 0;
}

.toggle:not(.expanded) > .toggleable {
    display: none;
}

/* Udates */
.updated {
    background-color: #ad7fa8; /* Plum 1 */
}

/* Table */
table {
    /*border: 1px solid black;*/
    width: 100%;
    border-spacing: 2px;
}

table thead th {
    font-weight: bold;
}

table tr {
    background-color: #f6f6f4; /* Aluminium 0 */
}

table td {
    vertical-align: top;
}

table td.icon {
    width: 18px;
}

/* Paginate */
.pager_curpage {
    padding: 0 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #8ae234; /* Chameleon 1 */
    color: #f6f6f4; /* Aluminium 0 */
}

.pager_link {
    padding: 0 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #3465a4; /* Sky Blue 2 */
    color: #f6f6f4; /* Aluminium 0 */
}

/* Status */
.statusicon {
    display: block;
    float: left;
    margin: 0 1px;
    padding: 1px;
    height: 16px;
    width: 16px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.statusicon.new {
    background-color: #babdb6; /* Aluminium 3 */
}

.statusicon.idle {
    background-color: #729fcf; /* Sky Blue 1 */
}

.statusicon.wip {
    background-color: #fce94f; /* Butter 1 */
}

.statusicon.submitted {
    background-color: #f57900; /* Orange 2 */
}

.statusicon.approved {
    background-color: #73d216; /* Chameleon 2 */
}

.status.new {
    background-color: #f6f6f4; /* Aluminium 0 */
}

.status.idle {
    background-color: #dfe6ed; /* Sky Blue 0 */
}

.status.wip {
    background-color: #fafbb5; /* Butter 0 */

}

.status.submitted {
    background-color: #fde79f; /* Orange 0 */
}

.status.approved {
    background-color: #d0f3af; /* Chameleon 0 */
}

.statusbox {
    display: inline-block;
}

.statusbox > div {
    float: left;
}

/* Notes */
div.note_header {
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
}

/* Tags */
.tagbox {
    display: block;
}

.tagbox div {
    float: left;
}

.tagbox .lw_box {
    margin-left: 10px;
}

.owner {
    font-size: 0.8em;
    font-style: italic;
}


/**********************************************************************
 * Dialog
 **********************************************************************/
.ui-dialog {
    border: 2px solid #73d216; /* Chameleon 2 */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 25px 5px #333;
    background-color: #eeeeec; /* Aluminium 1 */
}

/* overlay mask */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

/* titlebar */
.ui-dialog-titlebar {
    clear: left;
    padding: 8px 4px 4px 10px;
    background-color: #babdb6; /* Aluminium 3 */
    background-repeat: no-repeat;
    color: #f6f6f4; /* Aluminium 0 */
    font-size: large;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    cursor: move;
}

.ui-dialog-titlebar-close {
    display: block;
    float: right;
    background:url(../images/close.png) no-repeat;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* dialog content */
.ui-dialog-content {
    padding: 10px 20px;
    margin: 2px;
    overflow: auto;
}


/****************************************
 * Forms
 ****************************************/
/* messages */
form {
    color: #204a87; /* Sky Blue 3 */
}

.warning, .msg {
    margin-bottom: 10px;
    padding: 8px;
    font-size: large;
    color: #f6f6f4; /* Aluminium 0 */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.warning {
    background-color: #ef2929; /* Scarlet Red 1 */
}

.msg {
    background-color: #729fcf; /* Sky Blue 1 */
}

/* fields */
th {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

.required th {
    font-weight: bold;
}

.error {
    color: red;
}

.disabled {
    color: gray;
}

/* Progressbar */
#upload_queue {
    margin: 5px 0;
}

.queue_item {
    clear: left;
}

.progress {
    float: left;
}

.ui-progressbar {
    float: left;
    height:1em;
    width: 50px;
    text-align: left;
    border: 1px solid black;
    -moz-border-radius: 5px;
}

.ui-progressbar .ui-progressbar-value {
    /*margin: -1px;*/
    height:100%;
    background-color: #4e9a06; /* Chameleon 3 */
    -moz-border-radius: 4px;
}

.upload_progress.error .ui-progressbar-value {
    background-color: #ef2929; /* Scarlet Red 1 */
}

.queue_item .obj {
    margin-left: 55px;
}


/****************************************
 * Header
 ****************************************/
#header {
    height: 70px;
    padding: 5px 20px;
    background-color: #73d216; /* Chameleon 2 */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #f6f6f4; /* Aluminium 0 */
}

#header .logo {
    display: block;
    float: left;
    height: 70px;
    width: 100px;
    margin-right: 10px;
    /*border: 1px solid black;*/
    background-image: url(../images/logo.png);
}

#header .login, #header .logout {
    float: right;
}

#header .username {
    clear:right;
    float: right;
}

#header .title {
    height: 50px;
    font-size: 2.5em;
    overflow: hidden;
}

#header .path {
    height: 22px;
    font-size: 1.2em;
    overflow: hidden;
}


/****************************************
 * Flash and Notifications
 ****************************************/
#flash, #notify {
    position: relative;
    /*font-size: 1.2em;*/
    color: #f6f6f4; /* Aluminium 0 */
}

#flash div, #notify div {
    position: absolute;
    margin-left: 10px;
    padding:10px 60px 10px 45px;
    z-index: 4;
    opacity: .8;
}

#flash .ok, #notify .ok {
    background: #729fcf url(../images/ok.png) no-repeat scroll 10px center; /* Sky Blue 1 */
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

#flash .warning, #notify .warning  {
    background: #edd400 url(../images/warning.png) no-repeat scroll 10px center; /* Butter 1 */
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

#flash .error, #notify .error {
    background:#ef2929 url(../images/error.png) no-repeat scroll 10px center; /* Scarlet Red 1 */
    color: #f6f6f4; /* Aluminium 0 */
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

#flash .alert, #flash .info, #notify .alert, #notify .info {
    background:#babdb6 url(../images/info.png) no-repeat scroll 10px center; /* Aluminium 3 */
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}


/****************************************
 * Side
 ****************************************/
#side {
    float: left;
}

.side {
    margin-top: 15px;
    padding: 10px 0;
    width: 180px;
    background-color: #eeeeec; /* Aluminium 1 */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #73d216; /* Chameleon 2 */
    font-size: 0.9em;
}    

.side .sidebar {
    margin: 2px 0;
    color: #4e9a06; /* Chameleon 3 */
}

.side .sidebar.active {
    background-color: #8ae234; /* Chameleon 1 */
    color: #4e9a06; /* Chameleon 3 */

}

.side .sidebar .title {
    padding-left: 5px;
    background-color: #3465a4; /* Sky Blue 2 */
    color: #eeeeec; /* Aluminium 1 */
    font-size: medium;
}

.side .sidebar.active .title {
    background-color: #4e9a06; /* Chameleon 3 */
    color: #eeeeec; /* Aluminium 1 */
}

.side ul {
    padding-left: 5px;
}

.side a:hover {
    color: #204a87; /* Sky Blue 3 */
}

.side .active > a, .side .active > a:hover {
    color: #f6f6f4; /* Aluminium 0 */
}

#side_overflow_container {
    position: relative;
}

#side_overflow_activearea {
    position: absolute;
    padding-right: 0;
    z-index: 3;
}

.side.overflow {
    overflow: hidden;
    max-height: 350px;
    opacity: 0.9;
}

#side_overflow_activearea:hover {
    padding-right: 30px;
}

#side_overflow_activearea:hover .side.overflow {
    overflow: auto;
    width: auto;
    min-width: 180px;
}

#sb_project .title a:hover {
    color: inherit;
}

/****************************************
 * Content
 ****************************************/
#content_wrapper {
    margin: 15px 0 15px 200px;
}

#tabbed_content_wrapper {
    margin-top: -2px;
}

.content {
    clear: right;
    min-height: 400px;
    padding: 15px 20px;
    border: 2px solid #73d216; /* Chameleon 2 */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #eeeeec; /* Aluminium 1 */
    color: #2e3436; /* Aluminium 6 */
}

.content h1, .content h2, .content h3 {
    margin: 0;
    font-weight: normal;
}

.content .toggleable {
    margin: 0 0 10px 20px;
}

/**********************************************************************
 * Tabs
 **********************************************************************/

/* root element for tabs  */
ul.tabs {
    float: right;
    margin: 0 10px 0 0 !important; 
    padding: 0;
    position: relative;
    top: 2px;
}

/* single tab */
ul.tabs li {
    float: left;
}

/* link inside the tab */
ul.tabs a {
    display: block;
    padding: 4px 2px 2px 14px;
    border: 2px solid #73d216; /* Chameleon 2 */
    border-bottom: 0px;
    background-color: #babdb6; /* Aluminium 3 */
    margin-right: 2px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

ul.tabs a:hover {
    background-color: #f6f6f4; /* Aluminium 0 */
}
    
/* selected tab */
ul.tabs a.current {
    background-color: #eeeeec; /* Aluminium 1 */
    border-bottom: 2px solid #eeeeec; /* Aluminium 1 */
    cursor: default;
}

/* tab pane */
.pane {
    display: none;
    min-height: 150px;
}

.pane.ajax {
    display: block;
}

/****************************************
 * Footer
 ****************************************/
#footer {
    height: 40px;
    padding: 5px 20px;
    background-color: #73d216; /* Chameleon 2 */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #f6f6f4; /* Aluminium 0 */
}

#footer .flogo {
    display: block;
    float: left;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    /*border: 1px solid black;*/
    background-image: url(../images/under_the_hood_blue.png);
}

#footer .foottext {
    float: right;
    margin-top: 10px;
}


/****************************************
 * Login form
 ****************************************/
#loginform {
}

#loginform .loginfields input {
    display: block;
}

#loginform .loginfields label {
    clear: left;
    float: left;
    /*margin-top: 5px;*/
    /*margin-left: 10px;*/
    width: 100px;
    /*line-height: 31px;*/
    /*vertical-align: middle;*/
}

